<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Weather</title>
    <link rel="stylesheet" href="../../../assets/css/photon.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../../../assets/css/index.css" media="screen" charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div class="header-arrow"></div>
<div class="window">
    <header class="toolbar toolbar-header">
        <h1 class="title">Haystack Mounts</h1>
    </header>
    <div class="window-content">
        <div class="pane">
            <ul class="list-group" id="mount-list">
                <li class="list-group-item" v-for="mount in mounts">
                    <div class="img-circle media-object pull-left" v-bind:class="mount.status"></div>
                    <div class="media-body">
                        <strong>{{ mount.label }}</strong>
                        <p>{{ mount.path }}</p>
                    </div>
                    <button class="btn btn-default btn-mini remove-btn"
                            v-on:click="unmount(mount.id)"
                            :disabled="mount.status != 'mount-active'"
                            >
                        <span class="icon icon-cancel"></span>
                    </button>
                </li>
                <li class="list-group-item empty" v-if="!mounts.length">
                    <div class="media-body">
                        <p>No active mounts</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <footer class="toolbar toolbar-footer">
        <div class="toolbar-actions pull-right">
            <div class="btn-group">
                <button class="btn btn-default">
                    <span class="icon icon-arrows-ccw" onclick="window.location.reload()" title="Quit"></span>
                </button>
                <button class="btn btn-default">
                    <span class="icon icon-cancel" onclick="window.close()" title="Quit"></span>
                </button>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
<script charset="utf-8">
    let IndexView = require('../js/index');
    let index = new IndexView({
        mountListSelector: '#mount-list'
    });
</script>
