<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../assets/css/semantic.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../../../assets/css/globals.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../../../assets/css/menu.css" media="screen" charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div class="ui top attached tabular menu main tabs" id="tabs">
    <div class="item">
        My Stacks
    </div>
</div>
<div class="scroll-area">
    <div class="stackList ui list divided full-height" id="stack-list">
        <div v-if="!socketConnected" class="error modal">
            <div class="content bold">
                <i class="exclamation triangle icon huge block center"></i>
                <h1 class="title large text header">Unable to connect to Haystack Daemon</h1>
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <span class="sub medium text">Attempting to Reconnect</span>
            </div>
        </div>
        <div class="item hover hand" v-for="stack in sortedStacks">
            <div class="ui icon circle">
                <button><i class="icon" :class="stack.state == 'inactive' ? 'play' : 'pause'" ></i></button>
            </div>
            <div class="content" @click="openStack(stack)">
                <span class="header">{{ stack.identifier }}</span>
                <span v-if="stack.provider" class="provider">{{ stack.provider }}</span>
                <span class="status" :class="stack.state">{{ stack.status }}<span v-if="stack.health">, <span :class="stack.health">{{stack.health}}</span></span><span v-if="stack.mount_status">, mounted</span></span>
            </div>
        </div>
        <div class="item no-stacks center full-height" v-if="!sortedStacks.length">
            <span>No Stacks Found</span>
        </div>
    </div>
</div>
<footer class="list-footer">
    <div class="trayMenu ui list">
        <div class="item" onclick="MenuView.about()">
            <div class="content">About Haystack</div>
        </div>
        <div class="item" onclick="MenuView.openDocs()">
            <div class="content">View Documentation</div>
        </div>
        <div class="item" onclick="MenuView.exit()">
            <div class="content">Exit</div>
        </div>
    </div>
</footer>
</body>
</html>
<script charset="utf-8">
    let MenuView = require('../js/menu');
    let menu = new MenuView({
        stackListSelector: '#stack-list',
        tabSelector: '#tabs'
    });
</script>
