<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../assets/css/semantic.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../../../assets/css/globals.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../../../assets/css/menu.css" media="screen" charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div class="ui top attached tabular menu main tabs" id="tabs">
    <div class="item" v-for="tab in tabs" @click="selectTab(tab)" :class="{'active': currentTab == tab}">
        {{tab.title}}
    </div>
</div>
<div class="scroll-area">
    <div class="stackList ui list divided full-height" id="stack-list">
        <div class="item hover hand" v-for="stack in sortedStacks">
            <div class="ui icon circle">
                <button><i class="icon" :class="stack.state == 'inactive' ? 'play' : 'pause'" ></i></button>
            </div>
            <div class="content" @click="openStack(stack)">
                <span class="header">{{ stack.identifier }}</span>
                <span v-if="stack.provider" class="provider">{{ stack.provider }}</span>
                <span class="status" :class="stack.state">{{ stack.status }}<span v-if="stack.mount_status">, mounted</span></span>
            </div>
        </div>
        <div class="item no-stacks center full-height" v-if="!sortedStacks.length">
            <span>No Stacks Found</span>
        </div>
    </div>
</div>
<footer class="list-footer">
    <div class="trayMenu ui list">
        <div class="item" onclick="MenuView.about()">
            <div class="content">About Haystack</div>
        </div>
        <div class="item" onclick="MenuView.openDocs()">
            <div class="content">View Documentation</div>
        </div>
        <div class="item" onclick="MenuView.exit()">
            <div class="content">Exit</div>
        </div>
    </div>
</footer>
</body>
</html>
<script charset="utf-8">
    let MenuView = require('../js/menu');
    let menu = new MenuView({
        stackListSelector: '#stack-list',
        tabSelector: '#tabs'
    });
</script>
