<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../assets/css/semantic.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../../../assets/css/index.css" media="screen" charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="mount-view">
    {{ stack }}
</div>
</body>
</html>
<script charset="utf-8">
    let StackView = require('../js/stack');
    let menu = new StackView({
        pageSelector: '#mount-view'
    });
</script>
