<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../assets/css/semantic.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../../../assets/css/globals.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../../../assets/css/stack.css" media="screen" charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="stack-view" class="full-height">
    <div v-if="!socketConnected" class="error modal" :class="{'show': !socketConnected}">
        <div class="content bold">
            <i class="exclamation triangle icon huge block center"></i>
            <h1 class="title large text header">Unable to connect to Haystack Daemon</h1>
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <span class="sub medium text">Attempting to Reconnect</span>
        </div>
    </div>
    <div class="ui grid full-height services">
        <div class="row full-height accomodate-docs">
            <div class="six wide column full-height">
                <div class="ui vertical fluid tabular menu main tabs full-height">
                    <div class="item details">
                        <div class="inner">
                            <h2>{{ stack.identifier }}</h2>
                            <div class="ui stack controls">
                                <button class="circular ui icon button large" :disabled="stack.state != 'inactive' || stack.state == 'pending'"><i class="play icon"></i></button>
                                <button class="circular ui icon button large" :disabled="stack.state == 'inactive'"><i class="pause icon"></i></button>
                                <button class="circular ui icon button large" @click="removeStack(stack)"><i class="stop icon"></i></button>
                            </div>
                            <h4 :class="stack.state">{{ stack.status }}</h4>
                        </div>
                    </div>
                    <a class="item" @click="deselectServices()" :class="{'active': !currentService}">
                        <div class="name">Stack Overview</div>
                        <div class="status"></div>
                    </a>
                    <a class="item" v-for="service in stack.services" @click="selectService(service)" :class="{'active': currentService && currentService.name == service.name}">
                        <div class="name">{{ service.name }}</div>
                        <div class="status health" :class="service.is_healthy ? 'healthy' : 'unhealthy'"><span v-if="service.container_status">{{ service.container_status }}, </span>{{ service.is_healthy ? 'healthy' : 'unhealthy' }}<span v-if="service.mount">, mounted</span></div>
                    </a>
                </div>
            </div>
            <div class="ten wide stretched column service-details" v-if="currentService != null">
                <div class="inner">
                    <div class="details">
                        <div class="ui main menu">
                            <a class="bug popup icon item" href="javascript:;">
                                <i class="icon" :class="currentService.is_running? 'pause' : 'play'"></i>
                            </a>
                            <a class="bug popup icon item" href="javascript:;">
                                <i class="sync alternate icon"></i>
                            </a>
                            <a class="bug popup icon item" href="javascript:;">
                                <i class="terminal icon"></i>
                            </a>
                            <div class="item right floated">
                                <span :class="currentService.is_healthy ? 'healthy' : 'unhealthy'"> {{ currentService.container_status }}</span>
                            </div>
                        </div>
                        <table class="ui celled table drop-shadow">
                            <thead>
                                <tr>
                                    <th colspan="3">{{ currentService.name }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="collapsing right aligned">Mode</td>
                                    <td colspan="2">Local</td>
                                </tr>
                                <tr v-if="typeof currentService.is_healthy != 'undefined'">
                                    <td class="collapsing right aligned">Health Check</td>
                                    <td colspan="2" :class="currentService.is_healthy ? 'healthy' : 'unhealthy'">{{ currentService.is_healthy ? 'healthy' : 'unhealthy' }}</td>
                                </tr>
                                <tr>
                                    <td class="collapsing right aligned">Mount</td>
                                    <td v-if="currentService.mount">{{ currentService.mount.path }}</td>
                                    <td v-if="currentService.mount" class="center aligned"><span :class="currentService.mount.status">{{ currentService.mount.status }}</span></td>
                                    <td v-if="!currentService.mount">
                                        <button class="mini ui button compact">
                                            Mount Folder...
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<div class="ui top attached tabular menu service tabs">-->
                        <!--<div class="item" v-for="tab in serviceTabs" @click="setSelectedTab(tab)" :class="{'active': selectedTab == tab}">{{ tab.label }}</div>-->
                    <!--</div>-->
                    <div class="ui bottom attached active tab service-controls">
                        <div class="content">
                            <div class="logs drop-shadow">
                                <div class="logs-inner">Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                    Last login: Fri Mar  9 10:16:47 on ttys004
                                    Andrews-MacBook-Pro-2:~ andrew$ {{ currentService.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ten wide stretched column service-details" v-if="currentService == null">
                <div class="inner">
                    <div class="details">
stack overview will go here                    </div>
                    <!--<div class="ui top attached tabular menu service tabs">-->
                    <!--<div class="item" v-for="tab in serviceTabs" @click="setSelectedTab(tab)" :class="{'active': selectedTab == tab}">{{ tab.label }}</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="footer">
            <span><img src="../../../assets/images/haystack-logo-black.svg" class="logo-img"/></span>
            <span>©{{ new Date().getFullYear() }} Haystack, Inc. All rights reserved.</span>
            <span><a href="#" onclick="MenuView.openDocs()">view documentation</a></span>
        </div>
    </div>
</div>
</body>
</html>
<script charset="utf-8">
    let StackView = require('../js/stack');
    let MenuView = require('../js/menu');
    let menu = new StackView({
        pageSelector: '#stack-view'
    });
</script>
