/*
 Prevent text from being selectable
 */
body {
    min-width: inherit;
}
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
}
input, button, textarea, :focus {
    outline: none;
}
h2, h4 {
    margin: 0;
}
.hand {
    cursor: pointer;
}
.full-height {
    height: 100%;
}
.inactive {
    color: gray;
}
.error, .unhealthy {
    color: #a0000a;
}
.pending {
    color: #a0a000;
}

.active:not(.tab), .healthy {
    color: #00a000;
}
.error.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 85px);
    width: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 10000;
    text-align: center;
    color: #CCC;
}
.error.modal > .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 20px;
    padding: 20px 0;
    border-radius: 20px;
}
.spinner {
    margin: 20px auto;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 14px;
    height: 14px;
    background-color: #ccc;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
.show,
.block {
    display: block !important;
}
.icon.large {
    font-size: 90px;
}
.large.text {
    font-size: 16px;
}
.medium.text {
    font-size: 14px;
}
.bold {
    font-weight: bold;
}
.center,
i.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.drop-shadow {
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important;
}