.list-group-item {
    position: relative;
}
.list-group-item.empty {
    text-align: center;
}
.list-group-item .img-circle {
    width: 16px;
    height: 16px;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 2px;
    background: gray;
}
.img-circle.mount-error {
    background: #d0000d;
}

.img-circle.mount-pending {
    background: #d0d000;
}

.img-circle.mount-active {
    background: #00d000;
}
#list-group-item-template {
    display: none;
}
.list-group-item button:disabled {
    opacity: 0.5;
}
.list-group-item .remove-btn {
    position: absolute;
    top: 18px;
    right: 10px;
    display: none;
}
.list-group-item:hover .remove-btn {
    display: block;
}