.scroll-area {
    height: calc(100% - 46px);
    overflow-y: scroll;
}
.ui.list {
    position: relative;
}
.list-group-item.empty {
    text-align: center;
}
.ui.list .item {
    padding: 10px !important;
    position: relative;
}
.ui.list .circle {
    display: table-cell;
    width: 16px;
    height: 16px;
}
.ui.list .circle > span{
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 30px;
}
.ui.list .circle.mount-none > span {
    background: gray;
}
.ui.list .circle.mount-error > span {
    background: #d0000d;
}
.ui.list .circle.mount-pending > span {
    background: #d0d000;
}

.ui.list .circle.mount-active > span {
    background: #00d000;
}
#list-group-item-template {
    display: none;
}
.ui.list button:disabled {
    opacity: 0.5;
}
.ui.list .more-btn {
    position: absolute;
    top: 6px;
    right: 14px;
    display: none;
}
.ui.list .item:hover .more-btn {
    display: block;
}

.list-footer {
    position: absolute;
    bottom: 0;
    background: #EEEEEE;
    padding: 5px;
    width: 100%;
}