#stack-view {
    background: #EEE;
    cursor: default;
}
.ui.grid.services {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: 0;
    width: 100%;
}
.ui.grid>.column, .ui.grid .row {
    padding-top: 0;
    padding-bottom: 0;
}

.ui.grid .row.accomodate-docs {
    height: calc(100% - 28px);
    margin-left: -1rem;
    margin-right: -1rem;
}
.ui.grid .footer {
    background:white;
    text-align: center;
    border-top: 1px solid #d4d4d5;
    font-size: 12px;
    padding: 4px 0;
    width: 100%;
}
.ui.grid .footer > span {
    display: inline-block;
    padding: 0 10px;
}
.ui.tabular.menu.main.tabs {
    cursor: default;
    background: white;
}
.ui.tabular.menu .item {
    cursor: default;
    border-radius: 0 !important;
}
.ui.tabular.menu .item:hover {
    cursor: default;
}
.ui.vertical.tabular.menu.main.tabs .item:not(.details),
.ui.vertical.tabular.menu.main.tabs .item:not(.details).active {
    line-height: 20px;
}

.ui.vertical.tabular.menu.main.tabs .item:not(.details) {
    border-top: 1px solid #d4d4d5;
    background: white;
}
.ui.vertical.tabular.menu.main.tabs .item:not(.details):last-child {
    border-bottom: 1px solid #d4d4d5
}
.ui.vertical.tabular.menu.main.tabs .item.active {
    border-top: 1px solid #d4d4d5;
    border-right: 1px solid #d4d4d5;
    border-left: 0;
    border-bottom: 1px solid white;
    background: white;
    border-radius: 0 !important;
}
.main.tabs .item.active .status:after,
.main.tabs .item.active .status:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.main.tabs .item.active .status:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: white;
    border-width: 13px;
    margin-top: -13px;
}
.main.tabs .item.active .status:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #d4d4d5;
    border-width: 14px;
    margin-top: -14px;
}
.main.tabs .item.details .inner {
    text-align: center;
    padding: 10px 20px;
}
.main.tabs .item.details .inner .stack.controls {
    margin: 10px 0;
}
.main.tabs .item.details .inner .stack.controls .ui.button.large {
    font-size: 18px;
}
.main.tabs .item .status {
    font-size: 12px;
}
.service-details .inner {
    padding: 15px 0;
    height: 100%;
}
.service-details .inner .details {
    min-height: 230px;
}
.service-details .inner .details .table thead tr th {
    background: white;
    cursor: default !important;
}
.service-details .service-controls {
    height: calc(100% - 214px);
    position: relative;
    margin-right: -28px;
    margin-left: -28px;
}
.service-details .service-controls .content .logs {
    position: absolute;
    top: 20px;
    left: 30px;
    right: 30px;
    bottom: 20px;
    overflow-y: auto;
    overflow-x: auto;
    background: #282828;

}
.service-details .service-controls .content .logs::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #eee; /* or add it to the track */
}
.service-details .service-controls .content .terminal,
.service-details .service-controls .content .logs-inner {
    white-space: pre-line;
    color: #E5E5E5;
    font-size: 11px;
    font-family: "Monaco", monospace;
    background: #282828;
    margin: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.logo-img {
    height: 16px;
    vertical-align: text-top;
}
.error.modal {
    display: none;
    height: 100%;
}